@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: "norse-bold";
  src: 
    url("fonts/norse-bold-webfont.woff2") format("woff2"),
    url("fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
}

.left-section {
  height: 100vh;
  width: 400px;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;
}

.logo-image {
  width: 4rem;
}

.logo-text {
  font-family: "norse-bold", sans-serif;
  font-size: 4rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 50%);
  position: absolute;
  width: 100%;
  height: 6rem;
  top: 10rem;
  padding: 10px 0;
}

.photo-credit {
  font-size: 0.6rem;
  position: absolute;
  bottom: 1rem;
  text-align: center;
  width: 100%;
}

.photo-credit a {
  color: white;
  text-decoration: none;
  text-decoration: underline;
}

.right-section {
  padding-top: 6rem;
  padding-left: 2rem;
  /* padding: 6rem 6rem 6rem 2rem; */
}

.right-section p {
  font-weight: bold;
  font-size: 1.3rem;
}

.right-section p:first-child {
  width: 40vw;
}