@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: "norse-bold";
  src: 
    url("fonts/norse-bold-webfont.woff2") format("woff2"),
    url("fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
}

.left-section {
  height: 100vh;
  width: 400px;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;
}

.logo-image {
  width: 4rem;
}

.logo-text {
  font-family: "norse-bold", sans-serif;
  font-size: 4rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 50%);
  position: absolute;
  width: 100%;
  height: 6rem;
  top: 10rem;
  padding: 10px 0;
}

.photo-credit {
  font-size: 0.7rem;
  position: absolute;
  bottom: 1rem;
  text-align: center;
  width: 100%;
}

.photo-credit a {
  color: white;
  text-decoration: none;
  text-decoration: underline;
}

.right-section {
  padding-top: 5rem;
  flex: 1;
  /* padding: 6rem 6rem 6rem 2rem; */
}

.right-section p,
.create-button-container,
.log-in {
  padding-left: 2rem;
}

.right-section p {
  font-weight: bold;
  font-size: 1.2rem;
  width: 40vw;
}

.input-table {
  display: flex;
  gap: 5vw;
  padding: 30px 0 30px 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px, 
              rgba(70, 70, 70, 0.1) 0px -1px;
  margin-bottom: 2rem;
}

.left-column div:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 15vw;
  margin-top: 20px;
}

.input-container label {
  color: darkslategray;
  font-weight: bold;
  font-size: 0.8rem;
}

.right-column {
  align-self: flex-end;
}

.create-button {
  background-color: #596D48;
  color: white;
  border: none;
  padding: 1rem 3rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.log-in {
  margin-top: 2rem;
  font-weight: bold;
  color: darkslategray;
  font-size: 1rem;
}

.log-in a {
  text-decoration: none;
  color: #596D48;
}

.input-container input {
  height: 1.5rem;
  font-size: 1rem;
  border-radius: 3px;
  border: 2px solid #E5E7EB;
}

.input-container input[type="password"]:invalid {
  border-color: red;
}

.input-container input:focus {
  border-color: blue;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3px;
}